<footer class="max-w-container">
  <div class="md:grid md:grid-cols-2 md:gap-x-8">
    <div>
      <p class="text-sm font-semibold text-color-shade uppercase">Tentang</p>
      <div class="prose my-4">
        <p>
          Saya Mirza Ilhami, senang menulis seputar mobile native web khususnya semua terkait <a [routerLink]="'tags/ionic'">Ionic Framework</a>, <a [routerLink]="'tags/ionic'">Capacitor</a>, <a [routerLink]="'tags/pwa'">PWA</a> & <a [routerLink]="'tags/angular'">Angular</a>. Saat ini sibuk membuat video tutorial singkat tentang teknologi cross-platform native web app untuk Android dan iOS. Mohon saran dan masukannya.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-2 px-4">
      <div *ngFor="let footerSection of footerSections">
        <p class="text-sm font-semibold text-color-shade uppercase">
          {{ footerSection.title }}
        </p>
        <div class="mt-4 space-y-2">
          <ng-container *ngFor="let link of footerSection.links">
            <a
              [href]="link.url"
              *ngIf="link.external"
              (click)="sa.outboundLink(link.url)"
              target="_blank"
              rel="noreferrer"
              class="text-color flex items-center rounded-full hover:text-primary hover:bg-opacity-10"
            >
              <ng-container *ngTemplateOutlet="myTemplate"></ng-container>
            </a>
            <a
              [routerLink]="link.url"
              *ngIf="!link.external"
              class="text-color flex items-center rounded-full hover:text-primary hover:bg-opacity-10"
            >
              <ng-container *ngTemplateOutlet="myTemplate"></ng-container>
            </a>

            <ng-template #myTemplate>
              <!-- <niz-inline-svg
                class="h-4 w-4 mr-1"
                [svgSource]="link.svg"
              ></niz-inline-svg> -->
              {{ link.title }}
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="flex justify-center">
      <div class="ml-1 flex items-center">
        <niz-inline-svg
          class="h-5 w-5"
          *ngFor="let svg of createdWithSvgSources"
          [svgSource]="svg"
        ></niz-inline-svg>
      </div>
    </div>

    <p class="text-sm text-color-light text-center">
      © {{ now | date: 'yyyy' }} <a [routerLink]="copyrightUrl" class="focus-ring rounded-md">Mirza Ilhami</a>
    </p>
  </div>
</footer>
