<div
  class="max-w-sm bg-canvas-light rounded-lg overflow-hidden px-4 py-4 space-y-4 md:max-w-lg"
>
  <div class="flex items-center space-x-4">
    <img
      class="h-20 w-20 rounded-full"
      [alt]="author.title"
      [src]="author.img"
    />
    <div>
      <a
        class="mt-1 text-xl font-bold line-clamp-2 min leading-8"
        [routerLink]="author.route"
      >
        {{ author.title }}
      </a>
      <a [href]="author.website" target="_blank" rel="noreferrer">{{
        author.website
      }}</a>
    </div>
  </div>

  <div class="prose">
    <markdown [src]="'assets/content/authors/' + author.sourceFile"></markdown>
  </div>

  <div class="space-x-2">
    <mzi-chip size="xl" class="hover:border-primary">
      <a
        class="flex items-center space-x-2 hover:text-primary"
        href="https://twitter.com/{{ author.twitter }}"
        target="_blank"
        rel="noreferrer"
      >
        <mzi-inline-svg
          class="h-4 w-4"
          svgSource="assets/img/twitter-white.svg"
        ></mzi-inline-svg>
        <span class="hover:text-primary">@{{ author.twitter }}</span>
      </a>
    </mzi-chip>
    <mzi-chip size="xl" class="hover:border-primary">
      <a
        class="flex items-center space-x-2 hover:text-primary"
        href="https://github.com/{{ author.github }}"
        target="_blank"
        rel="noreferrer"
        ><mzi-inline-svg
          class="h-4 w-4"
          svgSource="assets/stack/github.svg"
        ></mzi-inline-svg>
        <span class="hover:text-primary">@{{ author.github }}</span>
      </a>
    </mzi-chip>
  </div>
</div>
