<niz-seo title="Halaman tidak ditemukan - mirzailhami" robots="nofollow, noindex"></niz-seo>

<div class="max-w-container space-y-5 mt-10 text-center">
  <img
    class="mx-auto"
    src="assets/img/empty.svg"
    alt="Nothing found illustration"
  />
  <h2 class="mt-2 text-2xl font-semibold md:text-3xl">
    Duh, halaman yang kamu akses tidak ditemukan 🙃
  </h2>
  <p class="mt-1 text-lg md:text-xl">
    Mungkin ada masalah teknis, coba cek lagi ke halaman
    <a routerLink="/" class="text-primary hover:text-primary-dark">
      semua artikel</a
    >.
  </p>
</div>
